.country-card {
    padding: 10px 30px;
    background-color: $primary;
    border-radius: 10px;
    box-shadow: 0 0 10px $dark_20;
    border: 1px solid $dark;
    transition: background-color $transitionTime;
    &:hover {
        background-color: $primary100;
    }
}