.page-home {
    height: 100dvh;
    overflow: hidden;
    & > section {
        height: 100%;
    }
    &__wrapper {
        margin-top: 32px;
        display: grid;
        grid-template-columns: 500px 1fr;
        column-gap: 32px;
        height: 100dvh;
    }
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        overflow-y: scroll;
    }
    &__random-country {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
}